
body {
  height: 100%;
  padding-top: 70px;
  margin: 5px;
  background-color: #0f7699 !important;
  font-family: 'Khand';
  font-weight: 400;
  color: white;
}

a {
  color: white;
}

.leaflet-popup-content {
  max-width: 150px;
  height: 125px;
  overflow-y: scroll;
}

.font-bold {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p,
.display-1, .display-2, .display-3, .display-4 {
  line-height: 2;
  word-break: break-word;
  word-wrap: break-word; }


.font-4 {
  font-weight: 200;
  font-size: 30px;
}

.font-3 {
  font-weight: 200;
  font-size: 40px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.btn {
  background-color: rgb(6, 6, 94);
  font-weight: 100;
  font-size: 20px;
  }

#map{
    min-width: 50rem;
    min-height: 50rem;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 5px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #4e5d6c;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: black;
}

/* Adding styles to the aside and filter form */

select {
  display: round;
  width: 50rem;
  padding: 8px;
  color: black;
  outline: none;
}

.loader {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* The styles for the parallax */
.hero {
  margin-top: 70px;
  height: 300px;
  width: auto;
  padding: 5px;
  margin: 0;
  background-image: url("../images/adrian.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto;
}

.hero h1 {
  margin-top: 80px;
  font-size: 7rem;
  animation: title 1.2s forwards linear;
  font-family: 'Monoton', bold;
  color: white;
  line-height: 1;
  text-shadow: 5px 5px black;

}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}
/* 
/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  } */

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


